form{
    display: grid;
    grid-template-columns: 7% 43% 43% 7%;
    grid-template-rows: 60px 100px 200px 60px 200px 200px 60px 200px 80px 60px;
    grid-column-gap: 10px;
	grid-row-gap: 10px;
}

#question1{
    grid-area: 2 / 2 / 3 / 4;
}

.options1{
    grid-area: 3 / 2 / 4 / 4;
}

#question2{
    grid-area: 4 / 2 / 5 / 4;
}

#party{
    grid-area: 5 / 2 / 6 / 3;
    text-align: center;

}

#rainyday{
    grid-area: 5 / 3 / 6 / 4;
    text-align: center;
}

#study{
    grid-area: 6 / 2 / 7 / 3;
    text-align: center;
}

#sunset{
    grid-area: 6 / 3 / 7 / 4;
    text-align: center;
}

#question3{
    grid-area: 7 / 2 / 8 / 4;
}

#submitButton{
    grid-area: 9 / 2 / 10 / 4;
}

.img{
    filter: grayscale(100%);
    width:60%;
    height: 80%;

}

.imaged{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

img:hover {
  filter: grayscale(0);
}

input[type="radio"]:checked + img{
  filter: grayscale(0);
  outline: 2px solid #f00;
}
